.opacity{
    background-color: rgba(255,255,255,0.9);
}
.container{
  background-image: url("/assets/images/honeycomb.svg");
  background-clip: content-box;

}
.heading{
  font-size: 64px;
  color: #444444;
  margin-top: 7%;
}
.row .start{
  background-color: #ffd400;
  font-size: 24px;
  color: #444444;
  font-weight: bolder;
  text-align: center;
}
.row p{
  font-size: 22px;
  text-align: left;
  margin-top:7%;
  margin-bottom: 2%;
}

.nav a{
  color: #1D70A2;
  font-size: 16px;
}

.navbar .nav-pills li a:hover{
  background-color: #FFD400;
  color: #444444;
  margin-left: 35%;
  margin-right: 35%;
}
.username{
  text-align: center;
  margin-top: 2%;
  margin-bottom: 1%;

}
.sub{
  text-align: center;
}
.imageContainer{
  display: block;
  margin-left: auto;
  margin-right:auto;

}
.user img{
  width: 15%;
  height: 15%;
  margin-left: 5%;
  margin-right: 5%;
}

.shiftOne{
  margin-top: 2.5%;
}
.shiftTwo{
  width: 30%;
  height: 30%;
  margin-top:4%;
}
.shiftThree{
  margin-top: 2%;
}
