label{
  color: #444444;
}
input{
  border-color: #444444;
}
.opacity{
    background-color: rgba(255,255,255,0.9);
}
.container{
  background-image: url("/assets/images/honeycomb.svg");
  background-clip: content-box;

}
.heading{
  font-size: 64px;
  color: #444444;
  margin-top: 7%;
}
.row .start{
  background-color: #ffd400;
  font-size: 24px;
  color: #444444;
  font-weight: bolder;
  text-align: center;

}
.row .next{
background-color: #ffd400;
font-size: 18px;
color: #444444;
font-weight: bold;
text-align: center;
margin-top: 2%;

}
.row .logIn{
  background-color: #ffd400;
  font-size: 18px;
  color: #444444;
  font-weight: bold;
  text-align: center;

}
.row .random{
  background-color: #ffd400;
  font-size: 16px;
  color: #444444;
  font-weight: bold;
  text-align: center;
  margin-top: 2%;

}

.row p{
  font-size: 22px;
  text-align: left;
  margin-top:7%;
  margin-bottom: 2%;
}
#congrats{
  margin-top: 0;

}
#createSub, #loadSub, #randomSub{
  text-align: center;
  margin-top: 0;
}
#randomSub{
  margin-top: 1%;
  margin-bottom: 0;
}
.playgame{
  margin-top:1%;
  margin-bottom: 0;
}

.nav{
  background-color: #444444;
  border-bottom: 5px solid #BFC0C0;
  padding-top: 5px;
  padding-bottom: 5px;
}
.nav a{
  color: #FFD400;
  font-size: 16px;

}

.navbar .nav-pills li a:hover{
  background-color: #FFD400;
  color: #444444;
  margin-left: 35%;
  margin-right: 35%;
}

.navbar .nav-pills li a:focus{
  background-color: #FFD400;
  color: #444444;
  margin-left: 35%;
  margin-right: 35%;
}

.username{
  text-align: center;
  margin-top: 2%;
  margin-bottom: 1%;
}
.create, .load{
  text-align: center;
  margin-top: 2%;
  margin-bottom: 3%;
font-size: 36px;
}
.sub{
  text-align: center;
}
.imageContainer{
  display: block;
  margin-left: auto;
  margin-right:auto;

}
.user img{
  width: 15%;
  height: 15%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 0;
}

.shiftOne{
  margin-top: 2.5%;
}
.shiftTwo{
  width: 30%;
  height: 30%;
  margin-top:4%;
}
.shiftThree{
  margin-top: 2%;
}
.labels p{
  font-size: 20px;
  margin-top: 2%;
  text-align: center;
}
.adjust{
  margin-left: -1%;
}
.center{
  text-align: center;
  margin-top: 10%;
}
select{
  margin: 50px;
  border: 2px solid #FFD400;
 width: 100px;
 padding: 5px 35px 5px 5px;
 height: 35px;
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
 font-size: 36px;
 font-weight: bold;
  background:  url("/assets/images/icon-arrow-down.png") 98% / 5% no-repeat #eee;
}
.logo{
  margin-top: 5%;
}
.inputDiv{
  text-align: center;
  font-size: 18px;
}

.createbtn{
  margin-top: 3%;
  background-color: #ffd400;
  font-size: 18px;
  color: #444444;
  font-weight: bold;
  text-align: center;

}
.inputalign{
  text-align: center;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
}
.errorHeader{
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight:bolder;
  margin-top: 2%;
  border-bottom: 3px solid #FFD400;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.misspelled{
    font-size: 14px;
    color: #444444;
    font-weight: bold;
}

.misspelled span{
  font-weight: 300;
  font-style:italic;
}
.tryAgain, .check{
  background-color: #ffd400;
  font-size: 18px;
  color: #444444;
  font-weight: bold;
  text-align: center;
  margin-top: 2%;

}

.check{
  margin-top:0;
}
.example{
  text-align: center;
  nmargin-top: 1%;
}
.randomInputs{
  margin-top: 3%;
}

/*All animations come from here https://daneden.github.io/animate.css/*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
.beeImage{
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}
.beeImage.ng-hide-remove{
  animation:1s fadeIn ease;
}
.beeImage.ng-hide-add{
  animation: 0.5s fadeOut ease;
}
@keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}
.beeImage.ng-hide-remove.bounce {
  animation-name: bounce;
  transform-origin: center bottom;
}
.btn:hover {
	background: rgba(0,0,0,0);

	box-shadow: inset 0 0 0 3px #ffd400;
}

@keyframes dance {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
.beePic.dance{
  animation: dance 0.5s;
}
.quizOptions img{
  margin-left: 3%;
  margin-right: 3%;
}
.quizOptions .second{
  margin-top: 5%;
}
.quizOptions .third{
  margin-top: 7%;
}
