<div class="container">
  <div class="row">
    <h4 class="col-xs-4 col-xs-offset-5"> Make a New Quiz!</h4>
  </div>
  <div class ="row" id="nameNum" ng-show="showInputs">
    <label for="quantity" class="col-xs-3 col-xs-offset-2" >How many words?</label>
    <input type="number" min="5" max="20" id="quantity" class="col-xs-1" ng-model="numWordsIn">
    <label for="name" class="col-xs-3"> Give it a name!</label>
    <input type="text" name="name" value="" id="name" placeholder="Ex: Birds Quiz" class="col-xs-2" ng-model="nameIn">
  <button class="col-xs-1 col-xs-offset-6" ng-click="showInputs()">Next</button>
</div>
<div class ="row" id="inputs" ng-hide="showInputs">
  <p>This is where the inputs go</p>
</div>
