<div class="container" ng-hide='showUser'>
  <div class ="opacity">
  <div class ="row">
    <div class="col-md-12" >
      <h3 class="heading">Welcome to Jumble Bee!</h3>
    </div>
  </div>
  <div class ="row">
    <div class ="col-md-7">
      <p class="col-md-offset-1"> If this is your first time here,<b> Sign Up</b> for an account. Otherwise, <b>Log In</b> and pick up where you left off.</p>
      </p>
      <button class="btn start  col-md-offset-5" type="button" name="login" ng-click="logIn()"> Get Started</button>
    </div>
    <div class="col-md-5">
      <!-- This is a test image also move styling to stylesheet -->
      <img style="width:90%;" src="../assets/images/bee_img.png"/>
    </div>
    </div>
  </div>
</div>



<div class="container user" ng-show='showUser'>
  <div class ="opacity">
    <div class="row">
      <div class ="col-md-12">
        <h3 class ="heading username"> Welcome back, {{userProfile.nickname}}!</h3>
      </div>
    </div>
    <p class="sub"> What would you like to do?</p>
    <div class="row">
      <div class="imageContainer">
        <!-- Load Saved -->
          <img class="col-md-3" src="../assets/images/bee-hive.png"/>
        <!-- Create New -->
          <img class="col-md-3 shiftOne" src="../assets/images/honey.png"/>
        <!-- Random -->
          <img class="col-md-3 shiftTwo" src="../assets/images/honey-jar.png"/>
        <!-- Log Out -->
          <img class="col-md-3 shiftThree" src="../assets/images/hexagons.png"/>
      </div>
    </div>
        <button ng-click="logOut()">Log Out</button>


  </div>
</div>
