<div class="container" ng-hide='showUser'>
  <div class ="opacity">
  <div class ="row">
    <div class="col-md-12" >
      <h3 class="heading">Welcome to Jumble Bee!</h3>
    </div>
  </div>
  <div class ="row">
    <div class ="col-md-7">
      <p class="col-md-offset-1"> If this is your first time here,<b> Sign Up</b> for an account. Otherwise, <b>Log In</b> and pick up where you left off.</p>
      </p>
      <button class="btn start  col-md-offset-5" type="button" name="login" ng-click="logIn()"> Get Started</button>
    </div>
    <div class="col-md-5">
      <!-- This is a test image also move styling to stylesheet -->
      <img style="width:90%;" src="../assets/images/bee_img.png"/>
    </div>
    </div>
  </div>
</div>



<div class="container" ng-show='showUser'>
  <div class="row">
    <div class ="col-xs-10 col-xs-offset-1">
      <h3> Welcome {{userProfile.nickname}}!</h3>
      <img src="{{userProfile.picture}}"/>
      <button ng-click="logOut()">Log Out</button>
  </div>
</div>
