  <div class="container">
    <div class ="opacity">
          <div class="row" ng-hide='showLoad'>
            <div >
              <p class="col-md-5 col-md-offset-4"> Please, <strong>log in</strong> to load your tests.</p>
              <button ng-click="logIn()" class=" col-md-2 col-md-offset-5 btn logIn"> Log In </button>
            </div>
          </div>
      <div ng-show="showLoad">
        <div class="row">
          <h3 class="col-md-12 center">Which quiz would you like to practice?</h3>
        </div>
        <div class="row">
          <select class="col-md-4 col-md-offset-4 dropdown"  name="userQuizzes" ng-model="selectedQuiz" ng-options= " quiz as quiz.name for quiz in savedQuizzes " ng-change="changedValue(selectedQuiz)">
            <option value="" disabled> Select A Quiz</option>
          </select>
      </div>
    </div>
      <div class="row">
        <img src="../assets/images/bee-hive.png"  class="col-md-2 col-md-offset-5 logo"/>
      </div>
    </div>
  </div>
</div>
