  <div class="container">
    <div class ="opacity">
        <div class="row">
          <h3 class="col-md-12 col-sm-12  heading load">Load a Quiz!</h3>
        </div>
        <div ng-hide='showLoad'>
            <div class="row" >
                <p class="col-md-4  col-md-offset-4 col-sm-4 col-sm-offset-4" id="loadSub"> Please, <strong>log in</strong> to load your quizzes.</p>
              </div>
            <div class="row" >
                <button ng-click="logIn()" class="col-md-2 col-md-offset-5  col-sm-2 col-sm-offset-5 btn logIn"> Log In </button>
            </div>
        </div>
            <div ng-show="showLoad">
              <div class="row">
                <select class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 dropdown"  name="userQuizzes" ng-model="selectedQuiz" ng-options= " quiz as quiz.name for quiz in savedQuizzes " ng-change="changedValue(selectedQuiz)">
                  <option value="" disabled> Select A Quiz</option>
                </select>
            </div>
          </div>

      <div class="row">
        <img src="../assets/images/bee-hive.png"  class="col-md-2 col-md-offset-5 col-sm-2 col-sm-offset-5 logo"/>
      </div>
      </div>
    </div>
  </div>
