<div class="container">
  <div class="opacity">
    <div class="row">
      <div class="col-md-4" ng-hide="hidegame"ng-repeat=" word in jumbledWords">
        <p class="playgame">{{word}}</p>
        <input type="text" name="question" value="" id="question-{{$index}}" placeholder="enter answer">
        <p id="response-{{$index}}"></p>
        <button class="btn check" type="button" name="button"  ng-click="checkAnswer($index)"> Check Answer</button>
      </div>
    </div>
    <div class="row">
        <img ng-show="showBee" ng-hide="hideBee" id="beeImage" class="logo" style="width:2%;height:2%;" src="/assets/images/bee_img.png">
    </div>
  </div>
</div>
