<div class="container">
  <div class="opacity">
    <div class="options Area" ng-hide="showGame">
      <div class="row">
        <div class="col-md-6 col-md-offset-3" >
          <p id="loadOptions"> You need to <strong> Load </strong> or <strong> Create </strong> a quiz to practice.</p>
        </div>
          <div class="row">
            <div class="quizOptions imageContainer">
              <!-- Load Saved -->
                <img class="col-md-4 quizOptions" src="../assets/images/bee-hive.png" ng-click="goLoad()" />
              <!-- Create New -->
                <img class="col-md-4  quizOptions second" src="../assets/images/honey.png" ng-click="goCreate()"/>
              <!-- Random -->
                <img class="col-md-4 quizOptions third " src="../assets/images/honey-jar.png" ng-click="goRandom()"/>
            </div>
            </div>
              <div class="row labels">
                <div class="col-md-offset-3">
                <p class="col-md-2 optionLabel">Load a Saved Quiz</p>
                <p class="col-md-2 col-md-offset-1 optionLabel">Create a Quiz</p>
                <p class="col-md-2 col-md-offset-1 optionLabel" >Take a Random Quiz</p>
              </div>
              </div>
            </div>
      </div>

    <div class= "gameArea" ng-show="showGame">
      <div class="row">
        <div class="col-md-2" ng-repeat=" word in jumbledWords track by $index">
          <p class="playgame">{{word}}</p>
          <input type="text" name="question" value="" id="question-{{$index}}" placeholder="enter answer">
          <p id="response-{{$index}}"></p>
          <button class="btn check" type="button" name="button"  ng-click="checkAnswer($index)"> Check Answer</button>
        </div>
      </div>
      <div class="row">
          <img ng-show="showBee" id="beeImage" class="logo beeImage" style="height:20px;" src="/assets/images/bee_img.png">
      </div>
      <div class="congratsDiv" ng-show="showCongrats">
        <div class="row">
            <p class= "congrats col-md-5 col-md-offset-4" id ="congrats">Hooray!!! You got all the words right!</p>
        </div>
      </div>
    </div>
  </div>
</div>
